<section id="banner">
<div class="container">
    <div class="slider">
        <div class="slide-1">
            <div class="caption">
                                
            </div>
            <div class="arrows">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>
    </div>
</div>
</section>