<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="./css/<%= nombre %>>.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logotipo">
            <h1>SORTEOS</h1>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Destacados</li>
                <li>Gratis</li>
            </ul>
        </nav> 
    </div>
</header>